h1{
  color: #FFFFFF;
  background-color: rgb(0, 126, 105);
  padding: 5px;
  margin-top: 0px;
}

h2{
  color: #FFFFFF;
  background-color: rgb(81, 185, 147);
  padding: 5px;
  margin-top: 0px;
}

body{
  color: #FFFFFF;
  background-color: rgb(155, 228, 174);
  margin: 0px;
}

.header{
  background-color: rgb(0, 73, 68);
  color: #FFFFFF;
  padding: 5px;
  font-size: medium;
  margin-top: 0px;
}

label{
  background-color: rgb(0, 126, 105);
  padding: 3px;
  margin-left: 3px;
}

input{
  color: rgb(0, 126, 105);
}

a{
  color: #FFFFFF;
}

th{
  background-color: rgb(0, 126, 105);
}

tr{
  background-color: rgb(81, 185, 147);
}
