<!DOCTYPE HTML>

<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Gestion des intervenants</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="/style.css" rel="stylesheet"/>
	</head>
	
	<body>
	
		<div class="header">
			<p>
				<a href="http://localhost:8080">Accueil</a>
				|
				<a href="http://localhost:8080/greeting">Greeting</a>
				|
				<a href="http://localhost:8080/liste_participants">Liste des participants</a>
				|
				<a href="http://localhost:8080/gestion_participants">Gestion des participants</a>
				|
				<a href="http://localhost:8080/liste_intervenants">Liste des intervenants</a>
				|
				<a href="http://localhost:8080/gestion_intervenants">Gestion des intervenants</a>
				|
				<a href="http://localhost:8080/liste_evenements">Liste des évènements</a>
				|
				<a href="http://localhost:8080/gestion_evenements">Gestion des évènements</a>
			</p>
		</div>
		
		<h1>Gestion des intervenants</h1>
		
		<h2>Ajout d'un intervenant</h2>
		
		<form action="http://localhost:8080/ajout_intervenant" method="get" class="form">
			<div class="form-div">
		    	<label for="nom"> Nom : </label>
		    	<input type="text" name="nom" id="nom" required>
		  	</div>
		  	<div class="form-div">
		    	<label for="prenom"> Prenom : </label>
		    	<input type="text" name="prenom" id="prenom" required>
		  	</div>
		  	<div class="form-div">
		    	<label for="email"> Email : </label>
		    	<input type="email" name="email" id="email" required>
		  	</div>
		  	<div class="form-div">
		    	<label for="date_naiss"> Date de naissance : </label>
		    	<input type="date" name="date_naiss" id="date_naiss" required>
		  	</div>
		  	<div class="form-div">
		    	<label for="date_naiss"> Evènements : </label>
		    	<div th:if="${listeEvenements.empty}">
		            <span> Pas d'évènements </span>
		        </div>
				<div th:each="evenement : ${listeEvenements}">
				 	<label th:for="${evenement.intitule}"><span th:text="${evenement.intitule}"> Intitulé </span></label>
				    <input type="checkbox" id="evenement" name="evenement" th:value="${evenement.num_even}">
		        </div>
		  	</div>
		  	
		  	<div class="form-div">
		  		<label for="num_inter"> Numéro d'intervenant : </label>
		  		<input type="number" id="num_inter" name="num_inter" required>
		  	</div>
		  	
		    <div class="form-div">
		  		<label for="nombresHeures"> Nombre d'heures d'interventions : </label>
		  		<input type="number" id="nombreHeures" name="nombreHeures" required>
		  	</div>
		  	
		  	<div class="form-div">
		  		<label for="besoinsSpecifiques"> Besoins spécifiques : </label>
		  		<input type="text" id="besoinsSpecifiques" name="besoinsSpecifiques" required>
		  	</div>
		  	
		    <div class="form-div">
		    	<input type="submit" value="Ajout">
		  	</div>
		  		
		</form>
		
		<h2>Modifier/Supprimer un intervenant</h2>
		
		<table>
		    <thead>
		        <tr>
		            <th> Nom </th>
		            <th> Prénom </th>
		            <th> Email </th>
		            <th> Date de naissance </th>
		            <th> Nombre d'évènements </th>
		            <th> Evènements </th>
		            <th> Numéro d'intervenant </th>
		            <th> Nombre d'heures d'interventions </th>
		            <th> Besoins spécifiques </th>
		            <th> Modifier </th>
		            <th> Supprimer </th>
		        </tr>
		    </thead>
		    <tbody>
		    	<tr th:if="${listeIntervenants.empty}">
		            <td colspan="11"> Pas d'intervenants </td>
		        </tr>
		        <tr th:each="intervenant : ${listeIntervenants}">
		            <td><span th:text="${intervenant.nom}"> Nom </span></td>
		            <td><span th:text="${intervenant.prenom}"> Prénom </span></td>
		            <td><span th:text="${intervenant.email}"> Email </span></td>
		            <td><span th:text="${intervenant.date_naiss}"> Date de naissance </span></td>
		            <td><span th:text="${intervenant.evenements.size()}"> Nombre d'évènements </span></td>
		            <td><ul th:each="evenement : ${intervenant.evenements}"><li><span th:text="${evenement.intitule}"> Evènement </span></li></ul></td>
		            <td><span th:text="${intervenant.num_inter}"> / </span></td>
		            <td><span th:text="${intervenant.nombreHeures}"> / </span></td>
		            <td><span th:text="${intervenant.besoinsSpecifiques}"> / </span></td>
		            <td><form th:action="@{'http://localhost:8080/modifier_intervenant/'+${intervenant.num_pers}}"><input type="submit" value="Modifier"></form></td>
		            <td><form th:action="@{'http://localhost:8080/supprimer_intervenant/'+${intervenant.num_pers}}"><input type="submit" value="Supprimer"></form></td>
		        </tr>
		    </tbody>
		</table>
		
	</body>
	
</html>