<!DOCTYPE HTML>

<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Getting Started: Serving Web Content</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="/style.css" rel="stylesheet"/>
	</head>
	
		<div class="header">
			<p>
				<a href="http://localhost:8080">Accueil</a>
				|
				<a href="http://localhost:8080/greeting">Greeting</a>
				|
				<a href="http://localhost:8080/liste_participants">Liste des participants</a>
				|
				<a href="http://localhost:8080/gestion_participants">Gestion des participants</a>
				|
				<a href="http://localhost:8080/liste_intervenants">Liste des intervenants</a>
				|
				<a href="http://localhost:8080/gestion_intervenants">Gestion des intervenants</a>
				|
				<a href="http://localhost:8080/liste_evenements">Liste des évènements</a>
				|
				<a href="http://localhost:8080/gestion_evenements">Gestion des évènements</a>
			</p>
		</div>
	<body>
		<p th:text="'Hello, ' + ${name} + '!'" />
	</body>
	
</html>