<!DOCTYPE HTML>

<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Liste des intervenants</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="/style.css" rel="stylesheet"/>
	</head>
	
	<body>
	
		<div class="header">
			<p>
				<a href="http://localhost:8080">Accueil</a>
				|
				<a href="http://localhost:8080/greeting">Greeting</a>
				|
				<a href="http://localhost:8080/liste_participants">Liste des participants</a>
				|
				<a href="http://localhost:8080/gestion_participants">Gestion des participants</a>
				|
				<a href="http://localhost:8080/liste_intervenants">Liste des intervenants</a>
				|
				<a href="http://localhost:8080/gestion_intervenants">Gestion des intervenants</a>
				|
				<a href="http://localhost:8080/liste_evenements">Liste des évènements</a>
				|
				<a href="http://localhost:8080/gestion_evenements">Gestion des évènements</a>
			</p>
		</div>
		
		<h1>Liste des intervenants</h1>
		
		<table>
		    <thead>
		        <tr>
		            <th> Nom </th>
		            <th> Prénom </th>
		            <th> Email </th>
		            <th> Date de naissance </th>
		            <th> Numéro d'intervenant </th>
		            <th> Nombre d'heures d'interventions </th>
		            <th> Besoins spécifiques </th>
		        </tr>
		    </thead>
		    <tbody>
		    	<tr th:if="${listeIntervenants.empty}">
		            <td colspan="7"> Pas d'intervenants </td>
		        </tr>
		        <tr th:each="intervenant : ${listeIntervenants}">
		            <td><span th:text="${intervenant.nom}"> Nom </span></td>
		            <td><span th:text="${intervenant.prenom}"> Prénom </span></td>
		            <td><span th:text="${intervenant.email}"> Email </span></td>
		            <td><span th:text="${intervenant.date_naiss}"> Date de naissance </span></td>
		            <td><span th:text="${intervenant.num_inter}"> / </span></td>
		            <td><span th:text="${intervenant.nombreHeures}"> / </span></td>
		            <td><span th:text="${intervenant.besoinsSpecifiques}"> / </span></td>
		        </tr>
		    </tbody>
		</table>
	</body>
	
</html>