<!DOCTYPE HTML>

<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Liste des évenements</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="/style.css" rel="stylesheet"/>
	</head>
	
	<body>
	
		<div class="header">
			<p>
				<a href="http://localhost:8080">Accueil</a>
				|
				<a href="http://localhost:8080/greeting">Greeting</a>
				|
				<a href="http://localhost:8080/liste_participants">Liste des participants</a>
				|
				<a href="http://localhost:8080/gestion_participants">Gestion des participants</a>
				|
				<a href="http://localhost:8080/liste_intervenants">Liste des intervenants</a>
				|
				<a href="http://localhost:8080/gestion_intervenants">Gestion des intervenants</a>
				|
				<a href="http://localhost:8080/liste_evenements">Liste des évènements</a>
				|
				<a href="http://localhost:8080/gestion_evenements">Gestion des évènements</a>
			</p>
		</div>
		
		<h1>Liste des événements</h1>
		
		<table>
		    <thead>
		        <tr>
		            <th> Intitulé </th>
		            <th> Horaire </th>
		        </tr>
		    </thead>
		    <tbody>
		    	<tr th:if="${listeEvenements.empty}">
		            <td colspan="2"> Pas d'évènements </td>
		        </tr>
		        <tr th:each="evenement : ${listeEvenements}">
		            <td><span th:text="${evenement.intitule}"> Intitulé </span></td>
		            <td><span th:text="${evenement.date_debut}"> Horaire </span></td>
		        </tr>
		    </tbody>
		</table>
	</body>
	
</html>